<nav class="navbar navbar-expand-sm bg-dark navbar-dark">
  <a class="navbar-brand" href="#">
    <h4>INFRRD</h4>
  </a>
  <ul class="navbar-nav">
    <li class="nav-item">
      <a class="nav-link" routerLink="find-ride" href="#">Book Ride</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" routerLink="add-ride" href="#">Give Ride</a>
    </li>
    
  </ul>
</nav>
<div class="container">
  <router-outlet></router-outlet>
</div>