<div class="col-md-8 mt-5">
        <form #f="ngForm" (ngSubmit)="f.form.valid && OnSubmit(f.form.value)" novalidate>
                <div class="form-group row">
                  <label for="empid" class="col-sm-2 col-form-label">Employee Id:</label>
                  <div class="col-sm-10">
                    <input type="text" class="form-control" name="empid" #empid="ngModel"
                     [(ngModel)]="ridedetails.empid" id="empid" placeholder="Enter Employee Id"
                     [ngClass]="{'is-invalid':f.submitted && empid.invalid}" required>
                     <div class="invalid-feedback" *ngIf="f.submitted && empid.invalid">
                            <div *ngIf="empid.errors.required" class="heltext">
                              <i>*Employee Id is required</i>
                            </div>
                          </div>
                  </div>
                  
                </div>

                <div class="form-group row">
                        <label for="vehicletype" class="col-sm-2 col-form-label">Vehicle Type:</label>
                        <div class="col-sm-10">
                               
                                <ng-select [items]="items"
                                
                                name="vehicletype"
                                [(ngModel)]="ridedetails.vehicletype"
                                bindLabel="text"
                                placeholder="Select Vehicle Type"
                                [ngClass]="{'is-invalid':f.submitted && ridedetails.vehicletype?.id==null}" required

                               >
                              </ng-select>
                              <div *ngIf="f.submitted && ridedetails.vehicletype?.id==null" class="custom-invalid-feedback">
                                    <div class="heltext">
                                      <i>*Vehicle type is required</i>
                                </div>
                            </div>
                        </div>
                </div>
                <div class="form-group row">
                        <label for="vnum" class="col-sm-2 col-form-label">Vehicle Number:</label>
                        <div class="col-sm-10">
                          <input type="text" name="vehiclenumber" [(ngModel)]="ridedetails.vehiclenum"
                           class="form-control" #vehiclenumber="ngModel" id="vnum" placeholder="Enter Vehicle Number"
                           [ngClass]="{'is-invalid':f.submitted && vehiclenumber.invalid}" required
                           >
                           <div class="invalid-feedback" *ngIf="f.submitted && vehiclenumber.invalid">
                                <div *ngIf="vehiclenumber.errors.required" class="heltext">
                                  <i>*Vehicle Number is required</i>
                                </div>
                              </div>
                        </div>
                </div>
                <div class="form-group row">
                        <label for="vacantseats" class="col-sm-2 col-form-label">Vacant Seats:</label>
                        <div class="col-sm-10" *ngIf="ridedetails.vehicletype?.id!=1">
                               
                                <ng-select [items]="[1,2,3,4,5]"
                                name="vacantseats"
                                id="vacantseats"
                                [(ngModel)]="ridedetails.vacantseats"
                                bindLabel="text"
                                placeholder="Select number of seats"  required>
                              </ng-select>
                              <div *ngIf="f.submitted && ridedetails.vacantseats==null" class="custom-invalid-feedback">
                                    <div class="helptext"><i>*Number of vacant seats are required</i></div>
                                  </div>
                        </div>
                        <div class="col-sm-10" *ngIf="ridedetails.vehicletype?.id==1">
                          <input type="text" class="form-control" value="1" readonly>
                        </div>
                        
                </div>
                <div class="form-group row">
                        <label class="col-sm-2 col-form-label">Time:</label>
                        <div class="col-sm-4">
                          <ngb-timepicker name="tp" [(ngModel)]="ridedetails.time" #tp="ngModel"  [meridian]="meridian"
                           [ngClass]="{'is-invalid':f.submitted
                          && ridedetails.time?.hour==null }" required></ngb-timepicker>
            
                          <div *ngIf="f.submitted && ridedetails.time?.hour==null" class="custom-invalid-feedback">
                            <div class="helptext"><i>*Time is required</i></div>
                          </div>
                        </div>
                      </div>

                      <div class="form-group row">
                            <label for="Pickup" class="col-sm-2 col-form-label">Pick Up:</label>
                            <div class="col-sm-10">
                              <input type="text" name="pickup" #pickup="ngModel" [(ngModel)]="ridedetails.pickup"
                               class="form-control" id="pickup" placeholder="Enter Pickup Address"
                               [ngClass]="{'is-invalid':f.submitted && pickup.invalid}" required
                               >
                               <div class="invalid-feedback" *ngIf="f.submitted && pickup.invalid">
                                    <div class="helptext">
                                      <i>*Pickup Address is required</i>
                                    </div>
                                  </div>

                            </div>
                    </div>
      
                    <div class="form-group row">
                            <label for="drop" class="col-sm-2 col-form-label">Drop:</label>
                            <div class="col-sm-10">
                              <input type="text" name="drop" #drop="ngModel"
                              [ngClass]="{'is-invalid':f.submitted && drop.invalid}" required
                              [(ngModel)]="ridedetails.drop" class="form-control" id="drop"
                               placeholder="Enter Drop Address">
                               <div class="invalid-feedback" *ngIf="f.submitted && drop.invalid">
                                    <div class="helptext">
                                      <i>*Drop Address is required</i>
                                    </div>
                                  </div>
                            </div>
                    </div>
      
      
                    <div class="row justify-content-center">
                        <button class="btn btn-primary" type="reset">Reset</button>
                        <div class="col-sm-2">

                        </div>
                        <button type="submit" class="btn btn-primary">Save</button>
                    </div>

                
              </form>
</div>