
  <div class="form-group row mt-5">
    <label for="vehicletype" class="col-sm-2 col-form-label"><b> Vehicle Type:</b></label>
    <div class="col-sm-8 pl-0 ml-0">
           
      <div class="dropdown">
        <button class="btn btn-secondary dropdown-toggle" style="width:150px" type="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
          {{vehicletype}}
        </button>
        <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
          <a class="dropdown-item" (click)="ChangeVehicleType('Any')">Any</a>
          <a class="dropdown-item" (click)="ChangeVehicleType('Bike')">Bike</a>
          <a class="dropdown-item" (click)="ChangeVehicleType('Car')" >Car</a>
        </div>
      </div>
      
          
    </div>
</div>


<table *ngIf="ridelist?.length>0" class="table mt-5">
        <thead>
          <tr>

            <th class="text-center" scope="col">Vehicle Type</th>
            <th class="text-center" scope="col">Vehicle Number</th>
            <th  class="text-center"scope="col">Time</th>
            <th  class="text-center" scope="col">Vacant Seats</th>
            <th class="text-center" scope="col">Pickup point</th>
            <th class="text-center" scope="col">Destination</th>
            <th></th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let x of ridelist">
            <td class="text-center">{{x.vehicletype.text}}</td>
            <td class="text-center">{{x.vehiclenum}}</td>
            <td class="text-center">{{x.time.hour}}:{{x.time.minute}}</td>
            <td class="text-center">{{x.vacantseats}}</td>
            <td class="text-center">{{x.pickup}}</td>
            <td class="text-center">{{x.drop}}</td>
            <td class="text-center pointer"><a (click)="SelectedRide(x)" data-toggle="modal" data-target="#exampleModal"><i class="fa fa-cab"></i></a></td>
          </tr>
         
        </tbody>
</table>
<div *ngIf="ridelist?.length==0" class="alert alert-info mt-5">
  No Upcoming Rides
</div>

<div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">Confirm Booking</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
       <input type="text" class="col-md-5 form-control" placeholder="Enter employee Id" [(ngModel)]="empid">
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
        <button type="button" class="btn btn-primary" data-dismiss="modal" (click)="BookCab()">Save changes</button>
      </div>
    </div>
  </div>
</div>