/* You can add global styles to this file, and also import other style files */
@import "~@ng-select/ng-select/themes/default.theme.css";
.pointer{
    cursor: pointer;
}

.ngb-tp-hour>.btn-link{
    display:none;
}

.ngb-tp-minute>.btn-link{
    display:none;
}

