<div class="row ml-auto text-center" style="margin-top:10%">
    <div class="col-md-6">
        <div class="row justify-content-center">
                <div class="card pointer col-md-8 shadow p-3 mb-5 bg-light rounded">
                        <div class="card-body">
                            <a routerLink="find-ride"><h4><b>Book Ride</b></h4></a>
                        </div>
                    </div>
        </div>
        
    </div>
    <div class="col-md-6">
        <div class="row justify-content-center">
                <div class="card pointer col-md-8 shadow p-3 mb-5 bg-light rounded">
                        <div class="card-body">
                            <a routerLink="add-ride"><h4><b>Give Ride</b></h4></a>
                        </div>
                    </div>
        </div>
            
        </div>

</div>